In [102]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [61]:
b_h = pd.read_csv("data/barts_hotspots.csv")
b_all = pd.read_csv("data/barts_to_all.csv")
h_all = pd.read_csv("data/hotspots_to_all.csv")
h_one = pd.read_csv("data/hours_q1.csv")
h_two = pd.read_csv("data/hours_q2.csv")

every_hour= pd.read_csv("data/avg_speed_per_path.csv")

In [62]:
# Compare and contrast travel times between different BART stations and 
# Hotspots based on these factors: time of day, day of the week, and the direction of travel.

hotspot_ids = h_all["Origin Movement ID"].unique()
station_ids = b_all["Origin Movement ID"].unique()

hotspot_bart = b_h[b_h["Origin Movement ID"].isin(hotspot_ids) & b_h["Destination Movement ID"].isin(station_ids)]
hotspot_bart_mean = hotspot_bart.set_index(["Origin Movement ID", "Destination Movement ID"])[["Daily Mean Travel Time (Seconds)"]]

hs_to_b = hotspot_bart_mean.groupby(hotspot_bart_mean.index).mean()

bart_hotspot = b_h[b_h["Origin Movement ID"].isin(station_ids) & b_h["Destination Movement ID"].isin(hotspot_ids)]
bart_hotspot_mean = bart_hotspot.set_index(["Origin Movement ID", "Destination Movement ID"])[["Daily Mean Travel Time (Seconds)"]]

b_to_hs = bart_hotspot_mean.swaplevel(0, 1).groupby(hotspot_bart_mean.index).mean()



# bart hotspots Daily Mean Travel Time
b_to_hs = b_to_hs[["Daily Mean Travel Time (Seconds)"]].rename(columns={"Daily Mean Travel Time (Seconds)": "Bart to Hotspot"})
hs_to_b = hs_to_b[["Daily Mean Travel Time (Seconds)"]].rename(columns={"Daily Mean Travel Time (Seconds)": "Hotspot to Bart"})


directions = pd.concat([b_to_hs, hs_to_b], axis = 1)
directions

# ax = sns.barplot(x= directions.index, y="Bart to Hotspot", data=directions)

              Bart to Hotspot  Hotspot to Bart
(3394, 3603)       820.415730       779.541436
(3394, 3692)       839.696133      1014.845304
(3394, 3760)       961.376471      1030.812155
(3396, 3603)       787.133333      1300.190751
(3396, 3692)       877.104972      1491.711111
(3396, 3760)       971.838323      1415.519774
(3792, 3603)       814.594444       538.596685
(3792, 3692)       836.666667       576.171271
(3792, 3760)       963.166667       830.905556

In [144]:
hours = pd.concat([h_one, h_two], axis=0, join='outer', ignore_index=True)
hours = hours.loc[(hours["sourceid"] == 3603) & (hours["dstid"] == 3792)]
geo_means = hours.groupby("hod").mean()[["geometric_mean_travel_time"]]

     geometric_mean_travel_time
hod
0                       392.210
1                       400.835
2                       385.545
3                       390.960
4                       436.250
5                       404.095
6                       442.840
7                       497.935
8                       569.155
9                       596.370
10                      544.280
11                      527.350
12                      552.675
13                      560.250
14                      635.235
15                      653.285
16                      748.225
17                      806.625
18                      672.630
19                      508.625
20                      475.040
21                      464.180
22                      432.555
23                      398.370

In [79]:
hs_to_b

,Daily Mean Travel Time (Seconds),AM Mean Travel Time (Seconds),PM Mean Travel Time (Seconds),Midday Mean Travel Time (Seconds),Evening Mean Travel Time (Seconds),Early Morning Mean Travel Time (Seconds)
"(3394, 3603)",779.541436,852.519685,857.752874,754.877095,667.865497,697.307692
"(3394, 3692)",1014.845304,988.259036,1239.226519,1049.000000,870.788889,705.333333
"(3394, 3760)",1030.812155,1056.231481,1170.612360,999.672222,945.329609,831.833333
"(3396, 3603)",1300.190751,1360.186916,1399.795918,1304.377358,1188.700000,NaN
"(3396, 3692)",1491.711111,1500.708661,1632.340659,1495.503937,1363.133333,1156.727273
"(3396, 3760)",1415.519774,1428.884615,1543.081633,1396.802632,1351.777778,1685.000000
"(3792, 3603)",538.596685,665.742515,600.089385,520.222222,435.596591,391.422535
"(3792, 3692)",576.171271,630.029240,672.738889,570.005556,481.744444,386.072727
"(3792, 3760)",830.905556,892.666667,1055.794118,828.360000,719.909091,584.000000

In [140]:
np.mean(every_hour[["Embarcadero Station to Oracle Park"]]) # 3603 --> 3792

Embarcadero Station to Oracle Park    556.121875
dtype: float64

In [129]:
# 3603 --> 3792
emb_op = b_h.loc[(b_h["Origin Movement ID"] == 3603) & (b_h["Destination Movement ID"] == 3792 )]
emb_op_mean_time = emb_op.loc[:, emb_op.columns.str.contains('Mean')].apply(np.mean)

emb_op_mean_time

Daily Mean Travel Time (Seconds)            579.160221
AM Mean Travel Time (Seconds)               548.602273
PM Mean Travel Time (Seconds)               771.707182
Midday Mean Travel Time (Seconds)           606.734807
Evening Mean Travel Time (Seconds)          488.677778
Early Morning Mean Travel Time (Seconds)    438.892655
dtype: float64

In [120]:
np.mean([emb_op_mean_time[1], emb_op_mean_time[2]])

660.1547275238574